

.card{
   padding-top: 50px !important;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.tt{
    flex-wrap: wrap;
}


.navv{
    margin-bottom: 100px !important;
}

.btn1{
    
   width: 300px !important;
   height: 50px !important;
   margin-right: 100px !important; ;
}
.con{
    padding-top: 100px !important;
    justify-content: center !important;
    padding-left: 200px !important; ;
    

}

#cart-count {
    font-size: 12px;
    padding: 5px;
}
